*,
*::before,
*::after {
  box-sizing: border-box; // 使得padding不会撑开元素
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-y: hidden; // 设置外部overflow为hidden,设置内容元素overflow为auto。内部元素超出body即产生滚动，超出的部分body隐藏。
}

#app {
  width: 100%;
  height: 100%;
}
